body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after,
*:hover {
  box-sizing: border-box;
}

h1 {
  color: #08345d;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.header {
  position: relative;
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.header:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #08345d;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-logo img {
  width: 100px;
}

.header-logo a {
  text-decoration: none;
}

.nav {
  width: 90%;
  text-align: center;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav ul a {
  text-decoration: none;
  color: #08345d;
}

.nav ul > li {
  width: 100%;
  margin: 0 5px;

}

.first-block {
  padding: 10px 0;
  width: 40%;
  background-color: #054276;
  color: aliceblue;
}

.second-block {
  width: 60%;
  margin-left: 15px;
}

.cv-photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cv-photo img {
  width: 90%;
  max-width: 250px;
  border-radius: 150px;
  border: 5px solid white;
  margin-bottom: 10px;
}

.name-cv-first_block {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 45px;
  background-color: #08345d;
  text-transform: uppercase;
}

.contacts-items {
  padding: 10px 0;
}

.contacts-item {
  list-style: none;
}

.contacts-item_name {
  font-weight: bolder;
  padding-right: 5px;
}

.skills {
  margin: 15px 0;
  color: white;
}

.skills-item {
  margin: 5px 5px 0 0;
  padding-right: 10px;
  text-align: justify;
}

.skills-item__name {
  font-weight: bolder;
  text-decoration: underline;
}

.second-block h2 {
  color: #08345d;
}

.name-cv-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name-cv-block__line {
  margin: 0 5px;
  height: 4px;
  width: 100%;
  background-color: #08345d;
}

.name-cv-block img {
  width: 40px;
  height: 30px;
}

.row-block {
  display: flex;
  flex-direction: row;
}

.row-block__name {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #08345d;
  width: 30%;
  font-size: 17px;
}

.row-block__item {
  width: 70%;
}

.row-block__item div {
  margin: 5px;
}

.project-link a {
  color: #054276;
  text-decoration: none;
  font-size: 16px;
}

.project-link li {
  list-style: none;
}

.goal-item ul>li {
  text-decoration: none;
  font-size: 16px;
}

.english-item {
  font-size: 16px;
  padding-left: 15px;
}

.code-item {
  color: #054276;
  text-decoration: none;
  font-size: 16px;
  padding-left: 15px;
}

.code-example {

  color: #054276;
  font-size: 16px;
}

.footer {
  margin: 10px 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #08345d;
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

.footer img {
  padding-top: 5px;
  height: 50px;
  margin: 0 40px;
}

.font-bold {
  color: #054276;
  font-weight: bold;
  font-size: 18px;
}

.font-bolder {
  color: #08345d;
  font-weight: bolder;
  font-size: 24px;
}

.font-italics {
  color: #08345d;
  font-style: italic;
  font-size: 16px;
}