body {
  margin: 0;
}

*,
*:before,
*:after,
*:hover {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.header {
  position: relative;
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.header:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #08345d;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-logo img {
  width: 150px;
}

.nav {
  width: 90%;
  text-align: center;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav ul a {
  text-decoration: none;
  color: #08345d;
}

.nav ul > li {
  width: 100%;
  margin: 0 5px;

}

.first-block {
  padding: 10px 0;
  width: 40%;
  background-color: #054276;
}

.second-block {
  width: 60%;
  margin-left: 15px;
}

.cv-photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cv-photo img {
  width: 90%;
  max-width: 250px;
  border-radius: 150px;
}

.name-cv-first_block {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 45px;
  background-color: #08345d;
  text-transform: uppercase;
}

.contacts {
  color: aliceblue;
}

.contacts-items {
  padding: 10px;
}

.contacts-item {
  font-weight: bolder;
  padding-right: 5px;
}

.skills {
  margin: 0;
  color: white;
}

.skills-item {
  margin: 5px 5px 0 0;
  padding-right: 10px;
  text-align: justify;
}

.skills-item__name {
  font-weight: bolder;
  text-decoration: underline;
}

.second-block h2 {
  color: #08345d;
}

.name-cv-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name-cv-block__line {
  margin: 0 5px;
  height: 4px;
  width: 100%;
  background-color: #08345d;
}

.name-cv-block img {
  width: 30px;
  height: 30px;
}

.row-block {
  display: flex;
  flex-direction: row;
}

.row-block__name {
  width: 30%;
}

.row-block__item {
  width: 70%;
}


.footer {
  margin: 10px 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #08345d;
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

.footer img {
  padding-top: 5px;
  height: 50px;
  margin: 0 40px;
}

.footer-year {
  font-weight: bolder;
  font-size: 28px;
}